<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    <!--[if IE 8]>
    <script src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.1/es5-shim.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.1/es5-sham.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'></script>
    <script src='//cdn.uriit.ru/console-polyfill/index.js'></script>
    <![endif]-->
    <meta charset="utf-8">

    <link rel="icon" type="image/ico" href="{{assets.favicon}}">

    {{#each assets.style}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
    
    <script src="/socket.io/socket.io.js"></script>

    <title>{{{title}}}</title>
</head>
<body>
    <div id="app">{{{body}}}</div>

    <script>
      var socket = io('', {query: "Authorization=" + "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MSwibmFtZSI6IkplbiBKb25lcyIsImlhdCI6MTQzNjI3MTU4OX0.lYL_MqFLEEoKxsjD908GBShFU-YTJ212UR4B3IVENuo"});

      // socket.on('message', function(msg) {
      //   console.log('message', msg);
      // })

      // socket.on('broadcast', function(msg) {
      //   console.log('broadcast', msg);
      // })
    </script>

    <!--<script>-->
        <!--window.appData={{{state}}}-->
    <!--</script>-->

    {{#each assets.script}}
        <script src="{{this}}"></script>
    {{/each}}
</body>
</html>
